@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(opensans_light.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    background-color: #444;
}

body {
    background-color: white;
}

article figure {
    margin-bottom: 1em;
}

article figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article figure > figcaption {
    font-style: italic;
    margin-bottom: 1em;
    text-align: center;
}

.logo {
    padding: 0;
    margin: 0;
    line-height: 1.2;
    background-color: inherit;
    border: none;
    color: white;
    font-size: 50%;
    font-weight: bold;
}

.logo-link:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .entry-title, .navbar-brand {
    font-family: "Open Sans Light", sans-serif;
}

.navbar {
    border: 0;
    border-radius: 0px;
}

.entry-title {
    font-weight: 500;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
}

.entry-title a {
    text-decoration: inherit;
    color: inherit;
}

.entry-title a:hover {
    text-decoration: underline;
}

.entry-meta, .sidebar-module h4 {
    color: #6f6f6f;
}

.sidebar-module-content {
    margin-left: 0.5em;
}

@media (min-width: 768px) {
    .blog-sidebar {
        /* I would love to have the sidebar pinned like this, but doing so
         * causes the footer to creep up and overlap with it. :(
         */
        /* position: fixed; */
        right: 0;
    }
}

/* old (current) pagination*/
.pages a {
    border-radius: 3px;
    margin: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* for pagination.new, currently disabled
.pagination > li > a {
    margin-left: -1px;
    color: #008cba;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #ddd;
}
*/

.footer {
    color: #fff;
    background-color: #444;
    padding: 1em;
    clear: both;
    width: 100%;
}

.footer p {
    margin-bottom: 0px;
}
