{% extends "base.html.j2" %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block head -%}
  {{ super() -}}
  {% if article.summary %}
        <meta name="description" content="{{ article.summary | striptags | safe | truncate(150) }}" />
  {% endif %}
{% endblock %}

{% block title %}{{ article.title|striptags }} - {{ SITENAME}}{% endblock %}

{% block content %}
<section id="content" class="body">
  <article>
    <header>
      <h2 class="entry-title">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
    </header>

    <div class="entry-content">
      {% include 'article_meta.html.j2' %}
      {% include 'taglist.html.j2' %}
      {{ article.content }}
    </div><!-- /.entry-content -->

  </article>
</section>
{% endblock %}
