{% extends "base.html.j2" %}

{% block head -%}
  {{ super() -}}
  {% if article.summary %}
    <meta name="description" content="{{ article.summary | striptags | safe | truncate(150) }}" />
  {% endif %}
{% endblock %}

{% block title %}{{ article.title|striptags }} - {{ SITENAME}}{% endblock %}

{% block content %}
<section id="content" class="body">
  <article>
    <header>
      <h2 class="entry-title">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
    </header>

    <div class="entry-content">
      {% include 'article_meta.html.j2' %}
      {% include 'taglist.html.j2' %}
      {{ article.content }}
    </div><!-- /.entry-content -->
  </article>

  <footer>
    <hr>
    <p>This site is maintained in <a href="https://github.com/cu/blog">a git
    repo</a> and the source for this entry can be found
    <a href="https://github.com/cu/blog/blob/master/content/{{ article.relative_source_path }}">
    here</a>. If you find a mistake, please feel free to open
    <a href="https://github.com/cu/blog/issues">an issue</a> or
    <a href="https://github.com/cu/blog/pulls">a pull request</a>.
    </p>
  </footer>
</section>
{% endblock %}
