<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <link href="{{ SITEURL }}/theme/bootstrap.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/cpto.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/pygments.css" rel="stylesheet">
    <link href="{{ FEED_ALL_ATOM }}" rel="alternate" title="{{ SITENAME }}" type="application/atom+xml">
    <link href="{{ FEED_ALL_RSS }}" rel="alternate" title="{{ SITENAME }}" type="application/rss+xml">
  {% endblock %}
  </head>
  <body>

    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          {# <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }}</a> #}
          <a class="logo-link" href="{{ SITEURL }}/">
            <pre class="logo">
    ____                ____  _ __                       __
   / __ \____ ______   / __ )(_) /___  ______ __________/ /
  / / / / __ `/ ___/  / __  / / __/ / / / __ `/ ___/ __  /
 / /_/ / /_/ (__  )  / /_/ / / /_/ /_/ / /_/ / /  / /_/ /
/_____/\__,_/____/  /_____/_/\__/\__, /\__,_/_/   \__,_/
                                /____/
            </pre>
          </a>
        </div>
      </div>
    </div>

    <div class="container" id="header">
    <!-- reserved for header -->
    </div>

    <div class="container">
      <div class="row">

        <div class="col-sm-8 blog-main">
          {% block content %}{% endblock %}
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module">
            <h4>About</h4>
            <div class="sidebar-module-content">
              <p>Charles is a SysAdmin/DevOps type, a fan of open source software,
              and tinkerer of things on the workbench and in the shop. He is
              located in the Ann Arbor area and enjoys talking about himself in
              the third person.
              </p>
            </div>
          </div>

          <div class="sidebar-module">
            <h4>Connect</h4>
            <div class="sidebar-module-content">
              <a href="https://github.com/cu"><img src="{{ SITEURL }}/theme/github.png" width="24" height="24"></a>
              <a href="https://lobste.rs/u/bityard"><img src="{{ SITEURL }}/theme/lobsters.png" width="24" height="24"></a>
              <a href="{{ SITEURL }}/pages/email.html"><img src="{{ SITEURL }}/theme/mail.svg" width="24" height="24"></a>
            </div>
          </div>

          <div class="sidebar-module">
            <h4>Topics</h4>
            <div class="sidebar-module-content">
              {% for tag, _ in tags|sort %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>,
              {% endfor %}
              <a href="{{ SITEURL }}/tags.html">(All Topics)</a>
            </div>
          </div>

          <div class="sidebar-module">
            <h4>Archives</h4>
            <div class="sidebar-module-content">
              <ol class="list-unstyled">
              {# On the archives page for a specific year, this only shows the
              # year for the page. This is because `dates` only contains a list
              # of articles for that specific year. This is annoying but seems
              # to be just how Pelican works and I can't see a good way around
              # it.
              #}
              {% set year_list = [] %}
              {% for article in dates %}
                {% set year = article.date|strftime('%Y') %}
                {% if year not in year_list %}
                  <li><a href="{{ SITEURL }}/articles/{{ year }}/">{{ year }}</a></li>
                {% set year_list = year_list.append(year) %}
                {% endif %}
              {% endfor %}
              </ol>
            </div>
          </div>

          <div class="sidebar-module">
            <h4>Subscribe</h4>
            <div class="sidebar-module-content">
              <ol class="list-unstyled">
                <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">Atom</a>
                <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">RSS</a>
              </ol>
            </div>
          </div>
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="footer">
      <p>
        © 2008-<script>document.write(new Date().getFullYear())</script>
        Bityard Industries
     </p>
    </div>
  </body>
</html>
