{#  Here we could also add (at least) the folowing metadata:
    * article.author
    * article.category
    * article.tags (a list, presumably)
    * translation business

    ...but I don't want to.
#}
 

<p class="blog-post-meta">{{ article.locale_date }}</p>
