{% if article.tags %}
  <p>Topics:
    {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>
      {%- if not loop.last %}, {% endif %}
    {% endfor %}
  </p>
{% endif %}
